.scene{
    background: #1f2227;
    border: 1px solid #0c0c0c;
    width: 520px;
    height: 520px;
}


.scene .box .element.sms {
    background: #e45822 !important;
}

.scene .box .element {
    background: #58b8c2;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin: 1px;
}

.info_st .element.sms{
    background: #e45822 !important;
}

.info_st .element{
    background: #58b8c2;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin: 1px;
    margin-bottom: 7px;
    padding: 3px;
}

.info3 {
    display: none;
}

.info_st {
    width: 180px;
    background: #d4d4d4;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 4px;
    margin: 7px;
    box-shadow: 0 0 3px 1px;
}